<%
	var userType = (typeof user_type !== typeof undefined && user_type) ? user_type : "";
	var userId = (typeof user_id !== typeof undefined && user_id) ? user_id : "";
	var pollSetSlug = (typeof slug !== typeof undefined && slug) ? slug : "";
	var pollSlugs  = (typeof poll_slug !== typeof undefined && poll_slug) ? poll_slug : "";
	
%>
<div class="container-fluid" id="main-container">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id" class="collapsed">
								<i class="material-icons">search</i> <%= __("admin.system.search"); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="panel-heading-id">
						<form id="searchForm" name="searchForm" autocomplete="off">
							<div class="panel-body">
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by Date Range -->
									<div class="col-xs-12 col-sm-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="date-range-picker" placeholder="<%= __('admin.email_logs.search_by_date_range'); %>">
											</div>
											<input class="form-control hide" id="from_date" type="text" name="from_date">
											<input class="form-control hide" id="to_date" type="text" name="to_date">
										</div>
									</div>
									
									<!-- search by question  -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_1"  onkeyup="searchDatatable(1)" placeholder="<%= __("admin.polls.search_by_question"); %>" name="name">
											</div>
										</div>
									</div>
									
									<!-- search by Media option type  -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick search_by_status" id="column_filter_2" onchange="searchDatatable(2)" name="options_type">
													<option value=""><%=__("admin.polls.search_by_media_type");%></option>
													<%
													if(typeof MEDIA_TYPE_SELECTBOX_DROPDOWN!== typeof undefined && MEDIA_TYPE_SELECTBOX_DROPDOWN.length > 0){
														MEDIA_TYPE_SELECTBOX_DROPDOWN.map(searchStatus=>{
															%>
															<option value="<%=searchStatus.status_id%>" ><%=searchStatus.status_name%></option>
													<% 	
														});
													} %>
												</select>
											</div>
										</div>
									</div>
									
									<!-- search by category -->
									<div class="col-xs-12 col-sm-4">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick"id="column_filter_3" onchange="searchDatatable(3)" name="category_id">
													<option value=""><%=__("admin.polls.search_by_category");%></option>
													<%- categoryList %>
												</select>
											</div>
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=WEBSITE_ADMIN_URL+'users/'+userType+'/pollsets/add_selected_poll_listing/'+userId%>">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>	
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.polls.polls"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
						<li>
							<a id="choose_polls" class="m-r-5 choose_polls">
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">add</i> <%= __("admin.polls.choose_polls"); %>
								</button>
							</a>
						</li> 
						<li>
							<a href="<%=admin_list_url%>/<%=userType%>/pollsets/<%=userId %>">
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="3%" class="p-r-10 text-center" >
									<div class="materialize_checkbox product-checkbox-data">
										<input type="checkbox" class="filled-in chk-col-teal" id="select_all">
										<label for="select_all" class="select_all p-l-20 v-align-bottom m-b-0"> &nbsp;</label>
									</div>
								</th>
								<th><%= __("admin.polls.question"); %></th>
								<th><%= __("admin.polls.options_type"); %></th>
								<th><%= __("admin.polls.category_name"); %></th>
								<th><%= __("admin.system.created"); %> </th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
	
<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>
	<script type="text/javascript">
		
		/** Function to remove last comma */
		function removeLastComma(strng){
			var n=strng.lastIndexOf(",");
			var a=strng.substring(0,n) 
			return a;
		}
		
		/** Function to initialize datatable and get server side data*/
		var dataTable ="";
		var checkboxArray	=	{};

		let editPagePollslugs = "<%= pollSlugs %>";
		if(editPagePollslugs!=''){
			editPagePollslugs = editPagePollslugs.split(",")
			for(i=0; i<editPagePollslugs.length; i++){
				checkboxArray[editPagePollslugs[i]] = true;
			}
		}

		$(document).ready(function() {
			dataTable 	= 	$('#datatable-listing').DataTable({
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem( 'DataTables', JSON.stringify(oData) );
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse( localStorage.getItem('DataTables'));
				},
				"order"		:	[[ 4, "desc" ]],
				"sDom"		:	"ltipr",
				"serverSide": 	true,
				"scrollX"	: 	true,
				"lengthMenu":	PAGING_LENGTH_MENU,
				"columns"	: 	[
					{
						"data"		: {},
						"orderable" : false,
						"render" 	: 	function(result){
							let pollSlug = (result.slug) ? result.slug :"";
							let pollSlugArray = '<%=pollSlugs%>';
							var disabledClass  =  (pollSlugArray.includes(pollSlug)) ? "checked" : "";
							return '<div class=" materialize_checkbox">'+
								'<div class="checkbox_wrapper">'+
									'<input type="checkbox" class="filled-in chk-col-teal" id="'+pollSlug+'" '+disabledClass+' >'+
									'<label for="'+pollSlug+'" class="checkbox data"></label>'+
								'</div>'+
							'</div>';
						}
					},
					{ "data": 'question' },
					{
						"data"		: 	"options_type",
						"field_name":   "options_type",
						"render"		: function(optionsType){
							var statusObject	= 	<%- JSON.stringify(MEDIA_TYPE_DROPDOWN)%>;
							var statusClass		=	(statusObject[optionsType] && statusObject[optionsType]["label_class"]) ? statusObject[optionsType]["label_class"] :"";
							var statusLabel		=	(statusObject[optionsType] && statusObject[optionsType]["status_name"]) ? statusObject[optionsType]["status_name"] :"";
							return '<span class="label '+statusClass+'">'+statusLabel+'</span>';
						}
					},
					{
						"data"		: 	"category_name",
						"field_type":   "<%= OBJECT_ID_FIELD %>",
						"field_name":   "category_id",
						"render"		: function(categoryName){
							return (categoryName) ? categoryName : "N/A";
						}
					},
					{
						"data"		 : 'created',
						"searchable" : 	false,
						"render" 	 : 	function(created){
							return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
				],
				"ajax":{
					url		:	"<%=admin_list_url+"/"+userType+"/pollsets/add_selected_poll_listing/"+userId %>",
					type	: 	"POST",
					data	: 	function (d) {
				        d.fromDate	= $('#from_date').val();
				        d.toDate	= $('#to_date').val();
					},
					dataSrc	: 	function(res){
						return res.data;
					}
				},
				"drawCallback": readMore
			});
		});

		/**
		 *  check/uncheck checkbox select all check/uncheck
		 */
		 $(document).on('change','#select_all',function(){
			var isChecked	= $(this).is(':checked');
			$('.checkbox_wrapper input[type="checkbox"]').not(":disabled").prop("checked",isChecked).trigger("change");
		});

		 

		/**
		 *  Check/Uncheck checkbox
		 */
		 $(document).on('change','.checkbox_wrapper input[type="checkbox"]',function(){
			var id          = $(this).attr('id');
			var isChecked	= $(this).is(':checked');
 
			if(isChecked){
				checkboxArray[id] = true;
			}else{
				delete checkboxArray[id];
			}

			var totalCheckBox = $('.checkbox_wrapper input[type="checkbox"]').not(":disabled").length;
			var checkedBox = $('.checkbox_wrapper input[type="checkbox"]:checked').length;
			let selectAll = (totalCheckBox == checkedBox) ? true : false;
			$("#select_all").prop("checked",selectAll);
		});

		/** pagination wise selected checkbox*/
		$(document).on("page.dt", () => {
			let selectedCheckBox = Object.keys(checkboxArray);
			setTimeout(() => {
				selectedCheckBox.map(recordId=>{
					$("#"+recordId).attr("checked", true);	
				})
			}, 50);
		});

		
		/** Select add chose poll listed */
		$(".choose_polls").click(function(){
			var choosePolls = Object.keys(checkboxArray);
			
			if(choosePolls.length < 1){
				notice("<%= STATUS_ERROR %>","<%= __('admin.leads_file.please_select_atleast_one_product')%>");
				return false;
			}else{
				if('<%=pollSetSlug%>'){
					window.location.href = '<%=admin_list_url%>/<%=userType%>/pollsets/edit_pollset/<%=pollSetSlug%>/<%=userId %>/'+choosePolls;
				}else{
					window.location.href = '<%=admin_list_url%>/<%=userType%>/pollsets/add_pollset/<%=userId %>/'+choosePolls;
				}
				
			}
		});

		/** Javascript function to search datatable */
		function searchDatatable(columnNumber){
			var query= $('#column_filter_'+columnNumber).val();
			dataTable.column(columnNumber).search(query).draw()
		}//end searchDatatable()
		
		/**
		* Search by status
		*
		* @param  null
		*
		* @return void
		*/
		$(".search_by_status").change(function(){
			dataTable.draw();
		});
	</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>