<%
	var userType 		= (typeof user_type !== typeof undefined && user_type) ? user_type : "";
	var userId 			= (typeof user_id !== typeof undefined && user_id) ? user_id : "";	
%>
<div class="container-fluid" id="main-container">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						Poll Segment Refined By user 
					</h2>

					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm"> 
						<li>
							<a href="<%=admin_list_url%>/<%=userType%>/poll_segment/add/<%= userId %>">
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back"); %>
								</button>
							</a>
							<a href="<%=admin_list_url%>/<%=userType%>/poll_segment/<%= userId %>">
								<button type="button" class="btn bg-indigo waves-effect">
								 List
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Sr No.</th>
								<th>poll questions</th>
								<th>options</th>
								<th>total unique</th>
								<th>total votes</th>
								
							</tr>
						</thead>
                        <tbody>	
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
